*{  margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;}

    a:link{color: black;}
    a:visited{color: black;}
    a:hover{color: #F16742;}
    a:active{color: black;}


#header{width:100%; 
        height: 100px;
        position:relative;
        margin: 0 auto;
        background-color: #F5F1BB;}

.header_m
{
    position:relative;
    width:90%;
    height: 100px;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu
{
    position:relative;
    display:flex;
}

.menu>li
{   font-size: 20px;
    padding-left:60px;
    
}

.logo>a>img
{
    width:100px;
}

.bg{
    width: 2000px;
    height: 1000px;
    margin: 0 auto;
    background-color: #F5F1BB;
}
.top::after{content: ""; display: block; clear: both;}

.box1{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 50px;
    padding-left: 150px;
    padding-top: 50px;}

    .box2{
        width: 800px;
        height: 800px;
        float: left;
        padding-left: 400px;
        padding-top: 50px;
    
    }
    
    .img02 img {
        padding-top: 90px;
    }